
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
   background-color: #000000;
   width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)), url("Thumbnail/wp2356164.jpg");
    background-size: cover;
    background-position: center;
}


.navbar {
   width: 80%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   width: 300px;
   cursor: pointer;
}

.navbar ul {
   display: flex;
   list-style: none;
}

.navbar ul li {
   margin: 0 30px;
   position: relative;
}

.navbar ul li a {
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
   font-family: 'Fantasy', sans-serif; 
   font-size: 20px;
}

.navbar ul li::after {
   content: '';
   height: 5px;
   width: 0%;
   background: #FF0000;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}

.navbar ul li:hover::after {
   width: 100%;
}
.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
}
.content h1{
   font-size: 50px;
   margin-top: 80px
   
}
.content p{
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
   color: #a1a1a1;
}

button{
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 20px 10px;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid #ff0000;
   background: transparent;
   color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

span{
   background: #ff0000;
   height: 100%;
   width: 0%;
   border-radius: 25px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   transition: 0.5s;
}

button:hover span{
   width: 100%
}
button:hover{
   border: none;
}



/* For HD (1366x768) */
@media (max-width: 1366px) {
  .navbar {
    width: 70%;
  }

  .logo {
    width: 150px;
    size-adjust: auto;
    margin-right: 50px;
  }

  .content h1 {
    font-size: 28px;
    margin-top: 40px;
  }

  .content p {
    font-size: 14px;
  }


  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Fantasy', sans-serif; 
    font-size: 10px;
  }

  button{
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 10px;
    border: 2px solid #ff0000;

}

}

/*---------- COURSE -------------*/

.background {
   background-color: #000000;
   background-size: cover;
}

.course {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
   margin-top: 100px;
}

.course h1 {
   font-size: 36px;
   font-weight: 600;
   color: #ffffff; /* Set the text color to white */
   margin-bottom: 200px;
}

.course p {
   color: #928b8b; /* Set the text color to white */
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
}

.container {
   display: flex;
   justify-content: space-between;
}

.container .Offers {
   margin-right: 10px;
}

.row {
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}

.course-col {
   flex-basis: 25%;
   background: #000000; /* Set the background color to black */
   border-radius: 20px;
   margin-bottom: 5%;
   padding: 50px 9px;
   box-sizing: border-box;
   transition: 0.5s;
   border-style: solid;
   border-color: rgb(0, 0, 0);
   border-width: 3px;
   transition: border-color 0.3s;
}

.course-col:hover{
   border-color: red; /* Change the border color to red on hover */
 }

.course-col h1 {
   color: #ffffff;
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
}

.course-col p {
   color: #ffffff;
   text-align: center;
   font-weight: 100;
   margin: auto;
}

.course-col:hover {
   box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.986);
}
/* Media Queries */


/* For HD (1366x768) */
@media (max-width: 1366px) {
  .course {
    width: 95%;
  }

  .course h1 {
    font-size: 28px;
  }

  .course p {
    font-size: 12px;
  }

  .container .Offers {
    margin-right: 2px;
    size-adjust: 10px;
  }

  .course-col {
    flex-basis: 40%;
    padding: 30px 6px;
  }
}

/*---------------- Gallary -----------------*/
.Gallary{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
   margin-top: 200px;
   margin-bottom: 200px;
}

.Photos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px; /* Adjust the max-width as per your preference */
   margin: 0 auto;
 }
 
 .pics {
   width: 30%; /* Adjust the width as per your preference */
   margin-bottom: 10px;
 }
 
 @media (max-width: 768px) {
   .pics {
     width: 45%; /* Adjust the width as per your preference for smaller screens */
   }
 }
 
 @media (max-width: 480px) {
   .pics {
     width: 100%; /* Adjust the width as per your preference for smaller screens */
   }
 }

 .pics {
   width: 30%; /* Adjust the width as per your preference */
   margin-bottom: 10px;
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 1s, transform 1s;
 }
 .pics.animation {
   opacity: 1;
   transform: translateY(0);
 } 



 /*---------------- Pricing --------------*/

 .Pricing {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 500px;
 }
 
 .Pricing h1 {
   font-size: 36px;
   font-weight: 600;
   color: #ffffff;
   margin-top: 50px;
   text-align: center;
   margin-bottom: 200px;
 }
 
 .Pricing .row2 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 50px;
   width: 200%;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   gap: 200px;
 }
 
 .Pricing h2 {
   font-size: 24px;
   font-weight: 600;
   color: #ffffff;
 }
 
 .Pricing p {
   font-size: 14px;
   color: #ffffff;
   margin-bottom: 5px;
 }
 
 .Pricing button {
   position: relative;
   overflow: hidden;
   border: 2px solid red;
   background-color: transparent;
   padding: 20px;
   margin: 10px;
   text-align: center;
   margin-bottom: 50px;
   cursor: pointer;
   z-index: 1;
   transition: border-color 0s ease-in-out; /* Add transition for border color */
 }
 
 .Pricing button:hover {
   border-color: transparent; /* Change border color to transparent on hover */
 }
 
 .Pricing button:before {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: transparent;
   z-index: -1;
   transition: width 0.5s ease-in-out;
 }
 
 .Pricing button:hover:before {
   width: 100%;
   background-color: rgba(255, 0, 0, 0.5);
   z-index: -1;
 }
 
 .Pricing button h1 {
   margin: 5px;
   margin-bottom: 5px;
   z-index: 1;
 }
 
 .Pricing button p {
   margin-top: 50px;
   margin-bottom: 20px;
   z-index: 1;
 }
 
 .Thumnail {
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(59, 58, 58, 0.75)), url("Thumbnail/image-3.jpg");
   background-size: cover;
   background-position: center;
 }
/* Media Queries */

@media screen and (max-width: 1366px) {
  .Pricing {
    margin-top: 200px;
  }

  .Pricing h1 {
    margin-bottom: 5px; /* Decrease the margin-bottom as needed */
    font-size: 24px; /* Decrease the font size as needed */
  }

  .Pricing h2 {
    margin-top: 0px; /* Decrease the margin-top as needed */
    margin-bottom: 0px; /* Decrease the margin-bottom as needed */
    font-size: 20px; /* Decrease the font size as needed */
  }

  .Pricing p {
    margin-top: 0px; /* Decrease the margin-top as needed */
    margin-bottom: 0px; /* Decrease the margin-bottom as needed */
    font-size: 12px; /* Decrease the font size as needed */
  }

  .Pricing .row2 {
    width: 100%;
    max-width: 1000px;
    gap: 20px;
  }

  .Pricing button {
    padding: 10px 30px; /* Adjust the padding as needed */
    margin: 30px;
    margin-bottom: 30px;
    height: auto;
    position: relative;
    overflow: hidden;
    width: auto; /* Add this line to remove the width restriction */
  }
}

/*--------------- Blog ----------------*/


.Blog {
  text-align: center;
  padding: 50px;
  margin-top: 200px;
}

.Blog h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fcfcfc;
  margin-bottom: 200px;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-post {
  background-color: #3b3a3a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 40px; /* Adjusted margin-bottom value */
}

.blog-post img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.blog-post h2 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px; /* Adjusted margin-bottom value */
}

.blog-post p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

.read-more {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #333333;
}

.Show-More{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px auto;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ff0000;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;

}

span{
  background: #ff0000;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.Show-More:hover span{
  width: 100%
}
.Show-More:hover{
  border: none;
}

/*------------ Contact ----------------*/

.thumnail2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)), url("Thumbnail/image-2.jpg");
  background-size: cover;
  background-position: center;
}


.contact-details {
  padding: 50px;
  text-align: center;
}

.contact-details .row {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.contact-item img {
  width: 20px;
  margin-right: 10px;
}

.contact-item {
  display: flex;
  flex-direction: column; /* Adjusted to make title and box appear vertically */
  align-items: center;
  margin: 0px 10px;
  margin-bottom: 400px;
}

.contact-item:not(:last-child) {
  margin-right: 100px; /* Added margin-right to create horizontal distance between contact items */
}

.contact-title {
  color: #ffffff;
  margin-bottom: 5px;
}

.box {
  color: #ffffff;
  margin-top: 5px; /* Added margin to separate title and box */
}

.navbar2 {
  width: 85%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar2 ul {
  display: flex;
  list-style: none;
}

.navbar2 ul li {
  margin: 0px 85px;
  position: relative;
}

.navbar2 ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Fantasy', sans-serif; 
  font-size: 15px;
}

.navbar2 ul li::after {
  content: '';
  height: 5px;
  width: 0%;
  background: #FF0000;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar2 ul li:hover::after {
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.social-links:not(:last-child) {
  margin-right: auto; /* Added margin-right to create horizontal distance between contact items */
  margin-left: 25px;
}

.social-links a {
  display: inline-block;
  margin: 30px 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  margin-right: 50px;
  
}

.social-links a:hover {
  opacity: 1;
}

.social-links img {
  width: 50px;
}

/* For HD (1366x768) */
@media (max-width: 1366px) {

 
  .navbar2 {
    width: 100%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .navbar2 ul li {
    margin: 0px 50px; /* Adjust the margin as needed */
  }
  
  .contact-details .row {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
    margin-bottom: 200px; /* Adjust the margin-bottom as needed */
  }

  .contact-item:not(:last-child) {
    margin-right: 50px; /* Adjust the margin-right as needed */
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .social-links:not(:last-child) {
    margin-right: 25px; /* Adjust the margin-right as needed */
    margin-left: 25px;
  }

  .navbar2 ul li a{
   margin-right: 40px;
   font-size: 15px;

  }


  .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
  

}


}



